:root{
    font-size: 16px;
}

body{
    overflow-x: hidden;
}

th{
    font-weight: 400;
}

select, option {
    -webkit-appearance: none;
  }

// table{
//     display: block;
//     overflow-x: auto;
//     white-space: nowrap;
//     td{
//         width: 100%;
//     }
// }

