.c-banner{
    height: 66.6vh;
    min-height: 45rem;
    &__item{
        background-size: cover;
        background-position: center;
        .container{
            height: calc(100% - 300px);
            z-index: 2;
        }
        &.--video{
            .video-js{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__title{
        margin-bottom: 2.43rem;
    }
    &__button{
        margin-top: 2.18rem;
        letter-spacing: .12rem;
        svg{
            margin-left: .93rem;
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }
        &:hover{
           svg{
                transform: translateX(10px);
            }
        }
    }
    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        mix-blend-mode: multiply;
    }

    .o-search-box{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 178px;
        @include breakpoint(lg){
            top: 9rem;
        }
    }

    &--reduced-search{
        .c-banner__item .container {
            height: calc(100% - 186px);
            z-index: 2;
        }
        .o-search-box--reduced{
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 7.5rem;
        }
    }

}


