.c-banner{
    height: 66.6vh;
    min-height: 37rem;
    .carousel-item{
        background-size: cover;
        background-position: center;
        .container{
            height: calc(100% - 300px);
            z-index: 2;
        }
    }
    .o-search-box{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 178px;
    }
    .o-search-box--reduced{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 178px;
    }
    &__title{
        margin-bottom: 2.43rem;
    }
    &__button{
        margin-top: 2.18rem;
        letter-spacing: .12rem;
        svg{
            margin-left: .93rem;
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }
        &:hover{
           svg{
                transform: translateX(10px);
            }
        }
    }
    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        mix-blend-mode: multiply;
    }
}


