.c-brasil-secreto{
    padding: 13.12rem 0 0;
    &__banner{
        margin-bottom: 15rem;
        h1{
            font-size: 3.43rem;
            line-height: .8;
        }
        &__images{
            padding-top: 12.3rem;
            @include breakpoint(lg){
                padding-top: 9rem;
            }
            @include breakpoint(md){
                padding-top: 0;
                flex-wrap: wrap;
            }
            &__1{
                position: relative;
                top: 63px;            
            }
            &__2{
                position: relative;
                top: 85px;            
            }
            &__5,
            &__3{
                position: relative;
                top: 50px;
                @include breakpoint(md){
                    top: -37px;
                }
            }
            &__6{
                position: relative;
                top: -67px;
                @include breakpoint(md){
                    top: -142px
                }
            }
            &__7{
                position: relative;
                top: -85px;
                @include breakpoint(md){
                    display: none;
                }
            }
        }
        &__item{
            border-radius: 1.25rem;
            background-size: cover;
            background-position: center;
            width: 13.54vw;
            height: 18.8vw;
            margin-bottom: 1.05vw;
            &--sm{
                height: 12.4vw;
                @include breakpoint(md){
                    height: 25vw!important;
                }
            }
            @include breakpoint(md){
                width: 30vw;
                height: 35vw;
                margin-bottom: .75rem;
            }
        }
    }
    &__tour{
        padding-top: 14rem;
        .swiper-container{
            padding-bottom: 8.12rem;
        }
        .swiper-pagination{
            bottom: 77px;
            &-bullet{
                height: 5px;
                width: 5px;
                &-active{
                    background: #0E6A7A;
                }
            }
        }
        .swiper-scrollbar{
            width: 85.4vw!important;
            height: 2px;
            background: $secondary;
            left: calc(50% - 42.7vw);
            cursor: grab;
           &-drag{
                background: $primary;
                border-radius: 0;
                height: 7px;
                top: -5px;
            }
        }
        
        &__item{
            overflow: hidden;
            &__img{
                height: 31.7vw;
                overflow: hidden;
                width: 100%;
                display: flex;
                align-items: center;
                @include breakpoint(lg){
                    height: 46vh;
                }
                img{
                    height: 100%;
                    width: auto;
                    @include breakpoint(lg){
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &__content{
                &__title{
                    letter-spacing: .5rem;
                    margin-top: 3rem;
                }
            }
            & > a{
                .icon-arrow-right{
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                }
                &:hover{
                    .icon-arrow-right{
                        transform: translateX(10px);
                    }
                }
            }
        }

    }
    &__video{
        height: 35.2vw;
        margin-bottom: 8.75rem;
        .video-js{
            height: 100%;
        }
    }
}

