.c-brasil-secreto{
    padding: 13.12rem 0 0;
    &__banner{
        margin-bottom: 15rem;
        h1{
            font-size: 3.43rem;
            line-height: .8;
        }
        &__images{
            padding-top: 12.3rem;
            &__1{
                position: relative;
                top: 63px;            
            }
            &__2{
                position: relative;
                top: 85px;            
            }
            &__5,
            &__3{
                position: relative;
                top: 50px;
            }
            &__6{
                position: relative;
                top: -67px;
            }
            &__7{
                position: relative;
                top: -85px;
            }
        }
        &__item{
            border-radius: 1.25rem;
            background-size: cover;
            background-position: center;
            width: 13.54vw;
            height: 18.8vw;
            margin-bottom: 1.05vw;
            &--sm{
                height: 12.4vw;
            }
        }
    }
    &__tour{
        padding-top: 14rem;
        .swiper-container{
            padding-bottom: 8.12rem;
        }
        .swiper-pagination{
            bottom: 77px;
            &-bullet{
                height: 5px;
                width: 5px;
                &-active{
                    background: #0E6A7A;
                }
            }
        }
        .swiper-scrollbar{
            width: 1640px!important;
            height: 2px;
            background: $secondary;
            left: calc(50% - 820px);
            cursor: grab;
           &-drag{
                background: $primary;
                border-radius: 0;
                height: 7px;
                top: -5px;
            }
        }
        &__item{
            &__img{
                height: 614px;
                overflow: hidden;
            }
            &__content{
                &__title{
                    letter-spacing: .5rem;
                    margin-top: 3rem;
                }
            }
            & > a{
                .icon-arrow-right{
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                }
                &:hover{
                    .icon-arrow-right{
                        transform: translateX(10px);
                    }
                }
            }
        }

    }
    &__video{
        padding-bottom: 8.75rem;
        .o-video{
            display: none;
        }
        img{
            width: 100%;
        }
    }
}
