.c-home{
    .c-banner{
        height: 95vh;
        min-height: 45.6rem;
        .container{
            padding-bottom: 8.3vh;
        }
    }
    &__tarifarios__box{
        z-index: 2;
        margin: -8.3vh 2rem 0;
        padding: 3.5rem 0 11.6rem;
        border-radius: 2.5rem;
    }
    &__info{
        margin-bottom: 7.43rem;
        min-height: 53.5rem;
        &__bg{
            background-size: cover;
            background-position: center;
            height: 53.5rem;
            width: 44.5%;
            
        }
        &__container{
            z-index: 9;
            &__box{
                border-radius: 1.75rem;
                padding: 3.6rem 0 .6rem 3.9rem;
                margin-left: 3.75rem;
                &__icon{
                    font-size: 1.8rem;
                    margin-bottom: 1.5rem;
                }
                &__item{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        max-width: 72%;
                        margin-bottom: 1.6rem;
                    }
                    a{
                        width: 4.8rem;
                        padding: 0 0 .375rem;
                    }
                }
            }
        }
    }
    &__advertisement{
        margin-top: 8.37rem !important;
        img{
            width: auto;
            max-width: 100%;
        }
    }
}