.c-reserva-single{
    display: none;

    &__search{
        @include breakpoint(md){
            & > div{
                width: 100%;
                margin-right: 0!important;
            }
        }
    }
    &__filtros{
        margin-left: -1rem;
        @include breakpoint(md){
            margin-left: 0;
        }
        &__visibilidade{
            border: 1px solid #ced4da;
            border-radius: .93rem;
            height: 2.915rem;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            .form-switch .form-check-input{
                float: inherit;
                margin: 2px 0 0 1rem;
            }
        }
        @include breakpoint(md){
            & > div {
                width: 100%;
            }
        }
    }
    
    &__table{
        max-width: 100%;
        overflow-x: auto;
        table {
            tbody{
                td:nth-child(3){
                    min-width: 420px;
                }
            }
        }
        &--log{
            max-width: 100%;
            overflow-x: auto;
            table {
                tbody{
                    td{
                        padding-right: 30px !important;
                    }
                    td:nth-child(1){
                        min-width: 150px;
                    }
                    td:nth-child(2){
                        min-width: 150px;
                    }
                    
                    td:nth-child(3){
                        min-width: 100px;
                    }
                }
            }
        }
    }

    &__bg{
        background: #000;
        position: fixed;
        height: 100vw;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease-in-out;
    }

    &__close{
        position: absolute;
        top: 61px;
        left: 58px;
    }

    &__box{
        background: #fff;
        border-radius: 4.5rem 4.5rem 0 0;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        left: 0;
        right: 0;
        transition: .3s;
        overflow: hidden;
        max-width: 1640px;
        margin: 0 auto;
        
        @include breakpoint(xl){
            border-radius: 0;
            z-index: 9999999999;
            overflow: auto;
            height: 100vh;
        }

        @include breakpoint(lg){
            max-width: 100%!important;
        }
        /* width */
        &::-webkit-scrollbar {
            width: 4px;
            height: 60vh;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        &__container{
            max-height: 81.85vh;
            padding: 3.37rem 8.6rem 2.62rem;
            margin: 0 auto;
            display: none!important;
            opacity: 0;
            visibility: hidden;
            overflow: auto;
            &.show{
                display: flex!important;
                opacity: 1;
                visibility: visible;
            }

            @include breakpoint(xl){
                max-width: 960px;
                margin: 0 auto;
                padding: 3.37rem 0 2.62rem;
                overflow: auto;
                height: auto;
                max-height: none;
            }
            @include breakpoint(lg){
                max-width: 720px;
            }
            @include breakpoint(md){
                padding-left: 25px;
                padding-right: 25px;
            }
            
        }
        &__col-1{
            width: 22rem;
            padding-bottom: 4.12rem;
            margin-right: 2.8rem;
            padding-right: 3rem;
        }
        &__col-2{
            width: 62.8rem;
            padding-bottom: 4.12rem;
            @include breakpoint(xxl){
                width: 52rem;
            }
            @include breakpoint(xl){
                width: 33.8rem;
            }
            &__titular{
                &__nome{
                    width: 243px;   
                    @include breakpoint(xl){
                        width: auto;
                    }
                }
            }
        }
        &__container--check{
            width: 94.93rem;
            margin: 0 auto;
            padding-top: 3.37rem;
            opacity: 0;
            visibility: hidden;
            display: none;
            @include breakpoint(xxl){
                width: 90%;
            }
            &.show{
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__box__container--check{
        table.table{
            width: 56.5rem;
        }
        table.table th{
            border-bottom: 0!important;
            padding-bottom: 0;
        }
        &__button{
            height: 1.37rem;
        }
    }


    &.open{
        display: block;
        .c-reserva-single__bg{
            opacity: .2;
            visibility: visible;
        }
        .c-reserva-single__box{
            animation: fpFadeInUp 300ms cubic-bezier(0.23, 1, 0.32, 1);
            opacity: 1;
            visibility: visible;
        }
    }

    &__menu{
        display: none;
        position: relative;    
        z-index: 999999999;
        &.open{
            opacity: 1;
            visibility: visible;
            display: block;
            .c-reserva-single__menu__bg{
                opacity: .3;
                visibility: visible;
            }
            .c-reserva-single__menu__content{
                animation: fpFadeInRight 300ms cubic-bezier(0.23, 1, 0.32, 1);
                opacity: 1;
            }
        }
        &__close{
           left: 36px;
           @include breakpoint(md){
               left: 25px;
           }
        }
        &__bg{
            background: #000;
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: 9999;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-in-out;
            cursor: pointer;
        }
        &__content{
            height: 100vh;
            background: #fff;
            position: fixed;
            z-index: 99999999;
            top: 0;
            right: 0;
            display: flex;
            transition: .3s;
            opacity: 0;
            overflow: hidden;
            .tab-content{
                overflow: auto;
                width: 100%;
            }
            .tab-pane{
                border-left: 1px solid #EAEAEA;
            }
            @include breakpoint(md){
                width: 100vw;
            }
        }
        &__icons{
            width: 7.1rem;
            padding-top: 4rem;
            .nav-item{
                button{
                    position: relative;
                    &:before{
                        content: '';
                        background: #0F6B7B;
                        display: block;
                        height: 100%;
                        width: 7px;
                        left: 0;
                        top: 0;
                        position: absolute;
                        transition: .2s ease-out;
                        transform: translateX(-7px);
                    }
                    &.active, &:hover{
                        color: $primary;
                        &:before{
                            transform: translateX(0px);
                        }
                    }
                }
                
            }
            .nav-link{
                border: 0;
                background: #fff;
                width: 100%;
                text-align: center;
            }
            @include breakpoint(md){
                width: 6rem;
            }
        }
        &__container{
            padding: 4rem 3.68rem 4rem 5rem;
            width: 30.31rem;
            h3{
                font-size: .86rem;
                color: $primary;
                font-weight: 500;
                padding-top: .75rem;
            }
            @include breakpoint(md){
                width: 100%;
                padding: 4rem 1.5rem 4rem 2.5rem;
            }
        }

        #log-tabContent{ 
            .c-reserva-single__menu__container{
                width: 939px;
                @include breakpoint(xl){
                    width: 30.31rem;
                }
                @include breakpoint(md){
                    width: 100%;
                }
            }
            table.table{
                thead th{
                    border: 0;
                    font-weight: 400;
                    padding: 0;
                    opacity: .34;
                }
                tbody {
                    &:before{
                        display: none;
                    }
                    td{
                        border-radius: 0;
                        border-color: #dee2e6;
                        padding: .4rem 0;
                    }
                }
            }
        }
        #comentarios-tabContent{
            .add-comment{
                position: relative;
                display: block;
                span{
                    position: absolute;
                    top: 11px;
                    left: 15px;
                }
                input#add-comment{
                    padding-left: 3rem;
                }
            }
        }
    }
}





.c-reserva-single__invoice{
    &__input{
        width: 16.76rem;
    }

}

.c-reserva-single__voucher{
    .qnty{
        width: 6.5rem;
    }
    &__passageiro{
        width: 12.37rem;
    }
    &__idioma{
        width: 11.5rem;
    }

}


.c-reserva-single__doc{
    &__col1{
        width: 34rem;
        table{
            max-width: 100%;
        }
    }
    &__table{
        width: 47.62rem;
        margin-left: 6.18rem;   
    }
}



@-webkit-keyframes fpFadeInRight{
    from{ 
        opacity:0;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    to{
        opacity:1;
        -webkit-transform:translate3d(20px,0,0);
        transform:translate3d(0,0,0)
    }
}
@keyframes fpFadeInRight{
    from{
        opacity:0;-webkit-transform:translate3d(0,-0,0);
        transform:translate3d(20px,0,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(0,0,0)
    }
}


@-webkit-keyframes fpFadeInUp{
    from{ 
        opacity:0;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,0,0)
    }
}
@keyframes fpFadeInUp{
    from{
        opacity:0;-webkit-transform:translate3d(0,-0,0);transform:translate3d(0,20px,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,0,0)
    }
}