.o-banner-lgpd{
    background: rgba(255,255,255,.96);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 62%;
    border-radius: 15px;
    padding: 1rem;
    z-index: 999;

    @include breakpoint(md){
        max-width: calc(100% - 30px);
    }

}
