.o-card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 23rem!important;
    width: 16.25rem!important;
    padding: 1.18rem 1.31rem 1.56rem;
    color: #fff;
    overflow: hidden;
    border-radius: 1.25rem;
    &__bg{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        mix-blend-mode: multiply;
    }
    a{
        z-index: 2;
        .icon{
            font-size: 1.68rem;
            padding: .63rem;
        }
    }
    p{
        margin-bottom: 0;
    }
    &__content{
        max-width: 243px;
    }
    &--first{
        width: 33.5rem!important;
        &:after{
            content:'';
            background: $primary;
            width: 20.31rem;
            height: 7.87rem;
            border-radius: 0 6.25rem 0 0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &:before{
            content: '';
            background-image: url(../img/arrow-right.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 20px;
            width: 42px;
            right: 36px;
            bottom: 35px;
            position: absolute;
            z-index: 99;
        }
    }
}


