.o-footer{
    background: #FBFBFB;
    padding-top: 6.25rem;
    &__links{
        padding-bottom: 2rem;
        border-color: #A2A2A2!important;
        &__title{
            font-weight: 500;
        }
        @include breakpoint(lg){
            text-align: center;
        }
    }
    &__copyright{
        svg{
            fill: #525252;
        }
        @include breakpoint(lg){
            text-align: center;
        }
    }
    a{
        &:hover{
            color: $primary !important;
            text-decoration: underline;
            svg{
                fill: $primary;
            }
        }
    }

    &__social{
        @include breakpoint(lg){
            margin: 20px auto;
        }
    }
}