.o-header{
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 1.97rem;
    &__logo{
        svg{
            fill: #fff;
        }
    }
    .navbar{
        padding: 0!important;
    }
    .nav-link{
        padding: .5rem 2rem;
        @include breakpoint(xxl){
            padding: .5rem 1.5rem;
        }
    }
    &__login{
        padding: .347rem 0;
        &__img{
            height: 2.37rem;
            width: 2.37rem;
            background-size: cover;
            background-position: center;
        }
    }

    &__main{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        @include breakpoint(xxl){
            margin-left: -70px;
        }
        a{
            position: relative;
            color: #fff;
            opacity: .7;
            &:after{
                content: '';
                display: block;
                background: #fff;
                height: 6px;
                width: 6px;
                border-radius: 100%;
                position: absolute;
                left: calc(50% - 5px);
                bottom: -4px;
                opacity: 0;
                transition: .3s;
                transform: scale(0);
            }
            &:hover, &.active{
                opacity: 1;
                &:after{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__language{
        margin-right: 23px;
        transition: .3s;
        max-width: 58px;
        width: 58px;
        overflow: hidden;
        padding: 0.844rem;
        border: 1px solid transparent;
        height: 51px;
        &:hover{
            background: #fff;
            max-width: 166px;
            width: 166px;
            .icon-language{
                color: $primary;
            }
            .o-header__language__options{
                opacity: 1;
                transition-delay: .3s;
                transition: .3s;
            }
        }

        &__options{
            margin-right: 23px;
            width: 101px;
            position: absolute;
            opacity: 0;
            transition: 0s;
            transition-delay: 0s;
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            height: 14px;
            top: 20px;
            
            .nav {
                margin-bottom: 4px!important;
                li{
                    padding: 0 .58rem;
                    &:nth-child(2n){
                        border-right: 1px solid #DCDCDC;
                        border-left: 1px solid #DCDCDC;
                    }
                    span{
                        text-decoration: none;
                        color: $secondary;
                        transition: .3s;
                        &:hover{
                            color: $primary;
                        }
                    }
                    &.active{
                        span{
                            color: $primary;
                        }
                    }
                }
            }
        }


        .icon-language{
            font-size: 1.5rem;
            margin-left: auto;
            color: #fff;
        }
    }

    
    &--white{
        .o-header__logo{
            svg{
                fill: $primary;
                transition: .3s;
                &:hover{
                    filter: brightness(1.4);
                }
            }
        }
        .o-header__main{
            a{
                color: $secondary;
                &:after{
                    background: $secondary;
                }
                opacity: 1;
            }
        }
        .o-header__login{
            border-color: $secondary!important;
        }
        .o-header__language {
            .icon-language{
                color: #343434;
            }
            &:hover{
                border-color: $secondary;
            }
        }
    }

}

// 

.hide{
    display: none;
}

@media (max-width: 1280px){
    .hide{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: #fff;
        z-index: 99999999999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
