.o-hotel{
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    transition: .3s;
    &.open{
        max-height: 100vh;
    }
    &__itens{
        @include breakpoint(lg){
            & > div{
                margin-bottom: 2rem;
            }
        }
    }
    &__img{
        position: relative;
        height: 12.37rem;
        background-size: cover;
        background-position: center;
        padding: 1.18rem;
        display: flex;
        align-items: end;
        img{            
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
        }
        &__item{
            color: #656565;
            border-radius: 10px;
            position: relative;
            height: 29px;
            display: inline-flex;
            align-items: center;
            &__icons{
                font-size: 1.2rem;
                padding-left: 1rem;
                max-width: 200px;
                span{
                    margin: 0 .5rem;
                    &:first-of-type{
                        margin-left: 0;
                    }
                    &:last-of-type{
                        margin-right: 0;
                    }
                }
                @include breakpoint(md){
                    padding-left: 0;
                }
            }
        }
    }
    &__container{
        padding: 0 .62rem 0 1rem;
    }
    &__header{
        background-color: #fff;
        font-size: .62rem;
        &__content{
            padding: 8px 0;
            @include breakpoint(md){
                flex-wrap: wrap;
            }
            &__title{
                border-right: 1px solid #E3E3E3;
                padding-right: 2rem;
                width: 31rem;
                @include breakpoint(xxl){
                    width: 18rem;
                }
                @include breakpoint(xl){
                    width: 40rem;
                }
                @include breakpoint(lg){
                    width: 25rem;
                }
                
                @include breakpoint(md){
                    width: 22rem;
                }
                @include breakpoint(md){
                    width: 100%;
                    border-right: 0;
                    padding-right: 0;
                    margin-bottom: .5rem;   
                }
            }
        }
        &__more{
            display: flex;
            align-items: center;
            .btn{
                height: 44px;
                border-radius: 13px;
                &.btn-outline-primary{
                    border-color: #E0E0E0;
                }
                .icon-arrow-down{
                    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
                }
            }
        }
    }
    &__content{
        padding: 1rem 0;
        &__table{
            border-bottom: 2px solid $primary;
            border-radius: 0;
            border-spacing: 0!important;
            margin: 0;
            tbody{
                &:before{
                    display: none;
                }
            }
            &:last-of-type{
                border-bottom: 0;
            }
            tr{
                border-right: 0;
                border-left: 0;
                border-bottom: 1px solid #E3E3E3;;
                &:first-of-type{
                    border-top: 0;
                }
                &:last-of-type{
                    border-bottom: 0;
                }
                td{
                    border-radius: 0 !important;
                    border-bottom: 1px solid #E3E3E3;
                    padding: .5rem 0;
                    transition: 0!important;
                    &:first-of-type{
                        padding-left: 0!important;
                    }
                    &:last-of-type{
                        padding-right: 0!important;
                    }
                }
            }
            &__header{
                border-bottom: 0;
                td{
                    border-bottom: 0!important;
                }

            }
            &__container{
                display: none;
            }
        }
        &___option{
            input[type="radio"]{
                height: 17px;
                width: 17px;
            }
        }
    }
}


.o-hotel.active{

    .JS__hotel-open{
        .icon-arrow-down{
            transform: rotate(180deg);
            display: inline-block;
            transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        }
    }    

    .o-hotel__content__table__header{
        td:not(:first-of-type){
            visibility: hidden;
            opacity: 0;
        }
    }

    .o-hotel__content__table__container{
        display: table-row;

        &:last-of-type{
            td{
                border-bottom: 0;
            }
        }
    }

}

