.o-search-box,
.o-search-box--reduced{
    display: none;
}

.o-search-box{
    border-radius: 40px;
    height: 11.5rem;
    width: 68rem;
    padding: 1.5rem 2rem 1.68rem;
    font-size: .75rem;
    z-index: 99;
    box-shadow: 5px 13px 15px 5px rgba(0,0,0,0.16);
    @include breakpoint(xl){
        width: 57rem;
    }
    @include breakpoint(lg){    
        width: 45rem;
        height: auto;
    }
    @include breakpoint(md){
        width: 21rem;
        top: 7rem;
    }

    &__radios{
        width: 46rem;
        @include breakpoint(xl){
            width: 39rem;
        }
        @include breakpoint(lg){
            flex-wrap: wrap;
        }
        @include breakpoint(md){
            & > div{ 
                width: 100%;
            }
        }
        .form-check-label{
            font-weight: 400;
            cursor: pointer;
            span{
                font-size: 22px;
                margin-right: 12px;
                color: #676767;
                &.icon-suitcase{
                    font-size: 24px;
                }
                &.icon-suitcase{
                    font-size: 24px;
                }
            }
            svg{
                margin-right: 12px;
                height: 23px;
                width: 27px;
            }
        }
        .form-check-input {
            cursor: pointer;
            width: 15px;
            height: 15px;
            margin-right: 13px;
        }
    }
    &__title{
        color: $primary;
        font-weight: bold;
        font-size: 1.13rem;
        line-height: 1.37rem;
        margin-bottom: 1.15rem;
        @include breakpoint(xl){
            font-size: .85rem;
        }
    }
    &__form{
        padding-top: 1.15rem;
        border-top: 1px solid #EAEAEA;
        &__item{
            display: none;
            width: 42.9rem;
            position: absolute;
            background: #fff;
            z-index: 99;
            &.show{
                display: block;
            }
            @include breakpoint(xl){
                width: 38.2rem;
            }
        }
        &__destino{
            width: 13rem;
            @include breakpoint(xl){
                width: 11rem;
            }
            @include breakpoint(lg){
                width: calc(50% - 12px);
                margin-bottom: 1rem;
            }
            @include breakpoint(md){
                width: 100%;
            }
        }
        &__hotel{
            width: 12rem;
            position: relative;
            @include breakpoint(xl){
                width: 11rem;
            }
            @include breakpoint(lg){
                width: calc(50% - 12px);
                margin-bottom: 1rem;
            }
            @include breakpoint(md){
                width: 100%;
            }
        }
        &__regime{
            display: none;
            width: 12rem;
            background: #fff;
            left: 13.95rem;
            background: #fff;
            @include breakpoint(xl){
                width: 11rem;
                left: 11.6rem;
            }
            @include breakpoint(md){
                width: 100%;
            }
            .form-select{
                padding: 1.02rem 3rem 1.14rem 1rem;
            }
        }
        &__passageiros{
            width: 16rem;
            @include breakpoint(xl){
                width: 15rem;
            }
            @include breakpoint(lg){
                width: calc(50% - 12px);
                margin-bottom: 1rem;
            }
            @include breakpoint(md){
                width: 100%;
            }
            &__input{
                position: relative;
                .form-control{
                    padding: 1.02rem 1rem 1.145rem 3.7rem;
                    cursor: pointer;
                }
            }
            &__icon{
                position: absolute;
                font-size: 1.75rem;
                top: 1.87rem;
                left: 1rem;
            }
            &__content{
                top: 8.65rem;
                left: 0;
                height: 5rem;
                width: calc(100% + 4rem);
                margin-left: -2rem;
                padding: .75rem 2.37rem .75rem 2.37rem;
                border-radius: 1.8rem;
                opacity: 0;
                box-shadow: 5px 13px 15px 5px rgba(0,0,0,0.16);
                visibility: hidden;
                overflow: hidden;
                @include breakpoint(xl){
                    padding: .75rem 1.37rem;
                }
                &__item{
                    border-right: 1px solid #E3E3E3;
                    padding: 0 2.44rem 0 1.5rem;
                    @include breakpoint(xl){
                        padding: 0 .9rem;
                    }
                    &:first-of-type{
                        padding-left: 0;
                    }
                    &:last-of-type{
                        border-right: 0;
                        padding-right: 0;
                    }
                }
                &.show{
                    animation: fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__data{
            width: 25.3%;
            // position: relative;

            @include breakpoint(xl){
                width: 20%;
            }

            @include breakpoint(lg){
                width: calc(50% - 12px);
                margin-bottom: 1rem;
            }
            
            @include breakpoint(md){
                width: 100%;
            }

            .flatpickr-calendar.multiMonth{
                width: 68rem!important;
                top: 8.65rem;
                left: calc(50% - 68rem/2)!important;
                right: inherit!important;
                padding: 28px 48px;
                position: absolute!important;

                visibility: hidden;
                opacity: 0;

                @include breakpoint(xl){
                    padding: 1.37rem;
                }

                
                &.show{
                    animation: fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);
                    opacity: 1;
                    visibility: visible;
                }

                @include breakpoint(xl){
                    width: 57rem!important;
                    left: calc(50% - 57rem/2)!important;
                }
                @include breakpoint(lg){    
                    width: 41rem!important;
                    left: calc(50% - 41rem/2)!important;
                }
                @include breakpoint(md){
                    width: 21rem!important;
                    left: calc(50% - 21rem/2)!important;
                }
                 @include breakpoint(sm){
                    width: 100%;
                    margin: 0 8rem!important;
                }
            }

            &__icon{
                position: absolute;
                font-size: 1.75rem;
                top: 1.87rem;
                right: .68rem;
            }
            input{
                position: relative;
                z-index: 99;
                background: transparent;
                &:focus{
                    background: transparent;
                }
            }

        }
        &__submit{
            width: 3rem;
            @include breakpoint(lg){
                width: 100%;
                margin-top: 18px;
            }
            .btn{
                height: 3rem;
                width: 3rem;
                padding: 0;
                .icon-search{
                    font-size: 1.75rem;
                    top: 2px;
                }
                @include breakpoint(lg){
                    width: 100%;
                    .icon-search{
                        display: none;
                    }
                }
            }
            
            &__txt{
                display: none;
                @include breakpoint(lg){
                    display: inline;
                }
            }
        }
        .form-label{
            margin-bottom: .4rem;
        }
    }
 
    &.--translado,
    &.--tour,
    &.--pacotes{
        .o-search-box__form__regime{
            display: block;
        }
    }
    &.--extra{
        .o-search-box__form__item{
            display: block;
        }
    }
}




.o-search-box--reduced{
    height: 4rem;
    border-radius: 2.5rem;
    height: 4rem;
    width: 72.6rem;
    padding: 1rem .52rem 1rem 2rem;
    font-size: .75rem;
    z-index: 99;
    box-shadow: 5px 13px 15px 5px rgba(0,0,0,0.16);
    
    @include breakpoint(xl){
        width: 57rem;
    }
    @include breakpoint(lg){    
        width: 45rem;
    }
    @include breakpoint(md){
        width: 21rem;
    }
     @include breakpoint(sm){
        width: 100%;
        margin: 0 8rem;
    }


    &__form{
        overflow: hidden;
        height: 31px;
        .form-label{
            display: block;
            margin-bottom: 0;
            line-height: 1;
        }
        &__input{
            font-size: .87rem;
            border: 0;
            outline: none;
        }

        &__options{
            width: 6rem;
            cursor: pointer;
            .icon-arrow-down{
                font-size: 24px;
            }
            &__icon{
                margin-right: 1rem;
                width: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    display: none;
                }
            }
        }
        &__item{
            display: none;
            width: 25.92rem;
            position: absolute;
            background: #fff;
            z-index: 99;
        }
        &__destino{
            width: 13.6rem;
            padding-right: 1rem;
        }
        &__hotel{
            width: 12.5rem;
            position: relative;
            padding-right: 1rem;
        }
        &__regime{
            display: none;
            width: 10rem;
            background: #fff;
            left: 18.5rem;
            background: #fff;
            select{
                margin: 2px 0 0 -3px;
            }
        }
        &__passageiros{
            width: 13.6rem;
            padding-right: 1rem;
            &__input{
                position: relative;
                cursor: pointer;
                .form-control{
                    padding: 1.02rem 1rem 1.02rem 3.7rem;
                }
            }
           .o-search-box__form__passageiros__content{
                width: 72.6rem;
                // margin-left: 2rem;
                top: 6.5rem;
                @include breakpoint(xl){
                    width: 57rem;
                }
           }
        }
        &__checkin{
            border-right: 1px solid #EAEAEA;
            width: 7.5rem;
            padding-right: 1rem;
        }
        &__checkout{
            padding-left: 1.5rem;
            width: 15.9rem;
            padding-right: 1rem;
        }
        &__submit{
            width: 3rem;
            position: absolute;
            top: -8px;
            right: .5rem;
            top: .5rem;
            .btn{
                height: 3rem;
                width: 3rem;
                padding: 0;
                border-radius: 100%;
                span{
                    font-size: 1.75rem;
                    top: 2px;
                }
            }
        }
    }
    
    &__radios{
        top: 14rem;
        height: 4rem;
        width: 72.6rem;
        left: calc(50% - 72.6rem/2);
        padding: 1.3rem 2.16rem 1rem 2rem;
        border-radius: 1.8rem;
        box-shadow: 5px 13px 15px 5px rgba(0,0,0,0.16);
        z-index: 999;
        opacity: 0;
        visibility: hidden;

        @include breakpoint(xl){
            width: 57rem;
            left: calc(50% - 57rem/2);
        }
        @include breakpoint(lg){    
            width: 45rem;
            flex-wrap: wrap;
        }
        @include breakpoint(md){
            width: 21rem;
        }
         @include breakpoint(sm){
            width: 100%;
            margin: 0 8rem;
        }

        &.show{
            animation: fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);
            opacity: 1;
            visibility: visible;
        }
        
    }
    &.--hotel{
        .o-search-box--reduced__form__options__icon__hotel{
            display: block;
        }
    }
    &.--translado,
    &.--tour,
    &.--pacotes{
        width: 64.37rem;
        .o-search-box--reduced__form__regime{
            display: block;
        }
    }
    &.--translado{
        .o-search-box--reduced__form__options__icon__translado{
            display: block;
        }
    }
    &.--tour{
        .o-search-box--reduced__form__options__icon__tour{
            display: block;
        }
    }
    &.--pacotes{
        .o-search-box--reduced__form__options__icon__pacotes{
            display: block;
        }
    }
    &.--extra{
        width: 43.25rem;
        .o-search-box__form__item{
            display: block;
            width: 186px;
            left: 7rem;
            position: absolute;
        }
        .o-search-box--reduced__form__destino,
        .o-search-box--reduced__form__hotel{
            display: none;
        }
        .o-search-box--reduced__form__options__icon__extras{
            display: block;
            font-size: 22px;
        }
    }
    transition: .2s cubic-bezier(0.16, 1, 0.3, 1);
}


@-webkit-keyframes fpFadeInDown{
    from{ 
        opacity:0;
        -webkit-transform:translate3d(0,-20px,0);
        transform:translate3d(0,-20px,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
    }
}
@keyframes fpFadeInDown{
    from{
        opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
    }
    to{
        opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
    }
}