.fs-10{
    font-size: .62rem!important;
}

.fs-12{
    font-size: .75rem!important;
}
.fs-16{
    font-size: 1rem!important;
}

.fs-93{
    font-size: 5.8rem!important;
}

.fs-24{
    font-size: 1.5rem!important;
}

.fs-28{
    font-size: 1.75rem;
}