@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vibfft');
  src:  url('fonts/icomoon.eot?vibfft#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vibfft') format('truetype'),
    url('fonts/icomoon.woff?vibfft') format('woff'),
    url('fonts/icomoon.svg?vibfft#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airport:before {
  content: "\e901";
}
.icon-ajust:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-atencion:before {
  content: "\e907";
}
.icon-avaliations:before {
  content: "\e908";
}
.icon-baby:before {
  content: "\e909";
}
.icon-bad:before {
  content: "\e90a";
}
.icon-basic-itens:before {
  content: "\e90b";
}
.icon-beach-view:before {
  content: "\e90c";
}
.icon-beach:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-car:before {
  content: "\e910";
}
.icon-case:before {
  content: "\e911";
}
.icon-category:before {
  content: "\e912";
}
.icon-change-log:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-comment:before {
  content: "\e915";
}
.icon-commission:before {
  content: "\e900";
}
.icon-cost:before {
  content: "\e916";
}
.icon-customer-notes:before {
  content: "\e917";
}
.icon-descont:before {
  content: "\e918";
}
.icon-diwe:before {
  content: "\e919";
}
.icon-doc-digital:before {
  content: "\e91a";
}
.icon-document:before {
  content: "\e91b";
}
.icon-edit-values:before {
  content: "\e91c";
}
.icon-exchange:before {
  content: "\e91d";
}
.icon-firepith:before {
  content: "\e91e";
}
.icon-fish:before {
  content: "\e91f";
}
.icon-group:before {
  content: "\e920";
}
.icon-home-office:before {
  content: "\e921";
}
.icon-key:before {
  content: "\e922";
}
.icon-hotel:before {
  content: "\e923";
}
.icon-hotel:before {
  content: "\e924";
}
.icon-hotel-2:before {
  content: "\e925";
}
.icon-info:before {
  content: "\e926";
}
.icon-invoice:before {
  content: "\e927";
}
.icon-language:before {
  content: "\e928";
}
.icon-location:before {
  content: "\e929";
}
.icon-map:before {
  content: "\e92a";
}
.icon-markup:before {
  content: "\e92b";
}
.icon-new-product:before {
  content: "\e92c";
}
.icon-pacifier:before {
  content: "\e92d";
}
.icon-parking:before {
  content: "\e92e";
}
.icon-passenger:before {
  content: "\e92f";
}
.icon-paw:before {
  content: "\e930";
}
.icon-pickup:before {
  content: "\e931";
}
.icon-printer:before {
  content: "\e932";
}
.icon-privacy-policy:before {
  content: "\e933";
}
.icon-product:before {
  content: "\e934";
}
.icon-pwd:before {
  content: "\e935";
}
.icon-Icon_Room-Service:before {
  content: "\e936";
}
.icon-Icon_Sail:before {
  content: "\e937";
}
.icon-Icon_Sales-Channel:before {
  content: "\e938";
}
.icon-save:before {
  content: "\e939";
}
.icon-save-1:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e93b";
}
.icon-status:before {
  content: "\e93c";
}
.icon-suitcase:before {
  content: "\e93d";
}
.icon-sun:before {
  content: "\e93e";
}
.icon-suporter:before {
  content: "\e93f";
}
.icon-surf:before {
  content: "\e940";
}
.icon-tax-decrese:before {
  content: "\e941";
}
.icon-tax-increace:before {
  content: "\e942";
}
.icon-total:before {
  content: "\e943";
}
.icon-tour:before {
  content: "\e944";
}
.icon-transfer:before {
  content: "\e945";
}
.icon-translate:before {
  content: "\e946";
}
.icon-trash:before {
  content: "\e947";
}
.icon-under-construction:before {
  content: "\e948";
}
.icon-user-add:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e94a";
}
.icon-value:before {
  content: "\e94b";
}
.icon-voucher:before {
  content: "\e94c";
}
.icon-wifi:before {
  content: "\e94d";
}
.icon-kitchen:before {
  content: "\e94e";
}
